a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

menu {
  display: block;
  margin: 0;
  padding: 0 0.5em;
  overflow: auto;
  border-bottom: 1px solid #999;
}
menu ul, menu ul li {
  color: #358;
  list-style: none;
  margin: 0;
  padding: 0;
}
menu ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 .5em;
}

table {
  border-collapse: collapse;
  display: inline-table;
  width: 90%;
}
table tr th {
  background-color: #ccc;
}

table tr th,
table tr td {
  border: 1px solid #aaa;
  padding: .4em .7em;
  text-align: left;
}
table tr th.center,
table tr td.center {
  text-align: center;
}